<%= link_to shop_path(shop) do %>
    <div class="shop">
      <table border="0">
        <tr>
          <td colspan="2" class="title"><%= shop.name %></td>
        </tr>
        <tr>
          <td class="picture">
            <%= image_tag "sample.jpg", width: 64, height: 64 %>
          </td>
          <td class="coupons">
              <% if shop.coupons.empty? %>
                  <%= t 'coupon.not_available' %>
              <% else %>
                  <% shop.coupons.take(3).each do |coupon| %>
                      <%= render partial: "coupons/coupon_small", locals: { coupon: coupon } %>
                  <% end %>
              <% end %>
          </td>
        </tr>
      </table>
    </div>
<% end %>