<div data-role="page" id="search" data-theme="e">

  <%= render 'layouts/header' %>

  <div data-role="content">
    <%= form_tag(controller: 'shops', action: 'find', method: :get)  do %>

        <%= text_field_tag :free_word, params[:free_word], type: "search", name: "search", id: "search-basic", value: "" %>

        <div data-role="fieldcontain" class="place_selector">
          <fieldset data-role="controlgroup">
            <legend><%= t 'search.place_long' %></legend>

            <%= select_tag :area_id, options_for_select([[t('search.region'), 0]] + Area.all.collect { |a| [a.name, a.id]}) %>

            <%= select_tag :prefecture_id, options_for_select([[t('search.prefecture'), 0]]), name: "select-choice-prefecture", id: "select-choice-prefecture" %>

            <%= select_tag :town_id, options_for_select([[t('search.town'), 0]]), name: "select-choice-ward", id: "select-choice-ward" %>
          </fieldset>
        </div>

        <div data-role="fieldcontain" class="genre_selector">
          <fieldset data-role="controlgroup">
            <legend>ジャンルで絞る</legend>
            <%= select_tag :genre_id, options_for_select([[t('shop.genre'), 0]]) %>

            <%= select_tag :subgenre_id, options_for_select([[t('shop.subgenre'), 0]]), name: "select-choice-prefecture", id: "select-choice-prefecture" %>

            <%= select_tag :subsubgenre_id, options_for_select([[t('shop.subsubgenre'), 0]]), name: "select-choice-ward", id: "select-choice-ward" %>
          </fieldset>
        </div>
        
    <% end %>
  </div>

  <%= render 'layouts/footer' %>

</div>
