<div data-role="page" id="index" data-theme="e">
    <div data-role="header" data-theme="c">
        <h1>
            クーポンアプリ
        </h1>
    </div>
    <div data-role="content" class="centering">
        <div class="index">
            <div class="index_logo">
                <%= image_tag "logo.png", alt: "main logo", width: "140px" %>
            </div>
            <div class="description">
                <p>
                    なんか説明文てきな
                </p>
            </div>
            <div class="social_buttons centering" style="max-width:648px;">
                <div class="social_button">
                    <%= link_to user_omniauth_authorize_path(:facebook), "data-ajax" => false do %>
                    <%= image_tag "sign_in_with_facebook.png", alt: "sign_in_with_facebook", width: "162px" %>
                    <% end %>
                </div>
                <div class="social_button">
                    <%= link_to user_omniauth_authorize_path(:twitter), "data-ajax" => false do %>
                    <%= image_tag "sign_in_with_twitter.png", alt: "sign_in_with_twitter", width: "162px" %>
                    <% end %>
                </div>
            </div>
        </div>
        <br>
        <%= link_to t('general.to_shop_login'), new_shop_session_path, "data-ajax" => false %>
    </div>
</div>
