<div id="left-pane">
	<%= render 'shared/admin_menu' %>
</div>
<div id="right-pane" class="clearfix">
	<table>
		<thead>
			<tr>
				<th class="type-string">店舗名</th>
				<th class="type-int">クーポン発行枚数(月)</th>
				<th class="type-int">使用された数</th>
				<th class="type-int">シェアされた数</th>
			</tr>
		</thead>
		<tbody>
			<% @shops.each do |shop| %>
			<tr>
				<td><a href="shop"><%= shop.name %></a></td>
				<td><%= shop.created_coupon_number_in_this_month %>枚</td>
				<td><%= shop.used_coupon_number_in_this_month %>枚</td>
				<td><%= shop.shared_coupon_number_in_this_month %>回</td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>

