<div id="left-pane">
	<%= render 'shared/admin_menu' %>
</div>
<div id="right-pane" class="clearfix">
	<table>
		<thead>
			<tr>
				<th class="type-string"><%= t 'user.name' %></th>
				<th class="type-int"><%= t 'coupon.received_coupons_number' %></th>
				<th class="type-int"><%= t 'user.used_coupons_number' %></th>
				<th class="type-int"><%= t 'user.shared_coupons_number' %></th>
				<th class="type-int"><%= t 'user.stared_shops_number' %></th>
				<th>志向属性</th>
				<th class="type-string"><%= t 'user.attributes' %></th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.name %></td>
					<td><%= user.received_coupon_number %></td>
					<td><%= user.used_coupon_number %></td>
					<td><%= user.shared_coupon_number %></td>
					<td><%= user.registered_my_mise_number %></td>
					<td>
						<% user.favorite_attribute.each do |attr| %>
							<%= attr %>
						<% end %>
					</td>
					<td>
						<% user.user_attribute.each do |attr| %>
							<%= attr %>
						<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

