<div class="row">
	<div class="eight columns">
		<div class="row">
			<h5><%= link_to coupon.name, coupon %></h5>
			<span class="code"><%= coupon.code %></span>
		</div>
		<div class="row">
			<p class="description"><%= coupon.description %></p>
		</div>
	</div>
	<div class="four columns">
		<div class="row push-bottom">
			<div class="row">
				<%= link_to t('buttons.edit'), edit_coupon_path(coupon),
				class: %w[small button] %>
			</div>	
			<div class="row">
				<%= link_to t('buttons.delete'), coupon, method: :delete, 
				data: { confirm: 'Are you sure?' }, class: %w[small button] %>
			</div>
		</div>
	</div>
</div>