<%= link_to shop_coupon_path(coupon.shop, coupon) do %>
<div class="coupon yellow">
	<table border="0">
		<tr>
			<td colspan="2" class="title">
				<%= coupon.name %>
			</td>
		</tr>
		<tr>
			<td rowspan="3" class="picture1">
				<%= cl_image_tag coupon.image , width: 64, height: 64, crop: :thumb %>
			</td>
			<td class="text">
				<p>
					<%= coupon.description %>
				</p>
			</td>
		</tr>
		<tr>
			<td class="date">
				<%= validity_time(coupon) %>
			</td>
		</tr>
		<tr>
			<td class="info">
				<%= link_to coupon.shop.name, shop_path(coupon.shop) %>
			</td>
		</tr>
	</table>
</div>
<% end %>