<div data-role="page" id="main" data-add-back-btn="false" data-theme="e">
	<%= render 'layouts/header' %>

	<div class="ui-bar ui-bar-a"><%= t 'coupon.confirmation' %></div>

	<div data-role="content">
		<div class="share">
			<div class="description centering">
				<p><%= t 'coupon.confirm_use' %>
				</p>
				<div class="button red">
					<%= link_to t('coupon.use_now'),
					       use_shop_coupon_path(@coupon.shop, @coupon), 
					       method: :post,
					       confirm: t('coupon.confirm_use') %>
				</div>
				<div class="button red">
					<%= link_to t('coupon.register'),
					       get_shop_coupon_path(@coupon.shop, @coupon),
					       method: :post %>
				</div>
			</div>
			<div class="coupon big red">
				<div class="title"><%= @coupon.name %></div>
				<div class="text"><%= link_to @coupon.shop.name, shop_path(@coupon.shop) %></div>
				<div class="picture centering">
					<%= cl_image_tag(@coupon.image, height: 150, width: 150, crop: :scale) %>
				</div>
			</div>
		</div>
	</div>

	<%= render 'layouts/footer' %>
</div>
