<div data-role="page" id="main" data-add-back-btn="false" data-theme="e">
	<%= render 'layouts/header' %>

	<div class="ui-bar ui-bar-a">クーポン使用確認</div>

	<div data-role="content">
		<div class="share">
			<div class="description centering">
				<p><%= t 'coupon.confirm_use' %>
				</p>
				<div class="button red"><%= t 'coupon.use_now' %></div>
				<div class="button red"><%= t 'coupon.share' %></div>
			</div>
			<div class="coupon big red">
				<div class="title"><%= @coupon.name %></div>
				<div class="text"><%= @coupon.shop.name %></div>
				<div class="picture centering">
					<%= cl_image_tag(@coupon.image, height: 150, width: 150, crop: :scale) %>
				</div>
			</div>
		</div>
	</div>

	<%= render 'layouts/footer' %>
</div>
