<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>QPom</title>

		<!-- Included CSS Files -->
		<%= stylesheet_link_tag    "application" %>

		<!-- Included JS Files  -->
		<%= javascript_include_tag "application" %>

		<%= csrf_meta_tags %>
</head>
<body>
	<div data-role="page" id="main" data-add-back-btn="false" data-theme="e">
		<div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme="c">
			<div id="header_logo"> 
				<img src="https://d3jpl91pxevbkh.cloudfront.net/htju9dds3/image/upload/w_280,c_limit/logo.png" alt="main logo" width="70" height="28">
			</div>
			<a href="#" data-icon="check" class="ui-btn-right">
				<%= t 'general.menu' %>
			</a> 
		</div>

		<%= yield %>
		<div data-role="footer" data-id="main_buttons" data-position="fixed" data-tap-toggle="false">
			<div data-role="navbar">
				<ul>
					<li> 
						<a href="myshop.html" data-icon="delete">
							<%= t 'shop.my' %>
						</a>
					</li>
					<li> 
						<a href="search.html" data-icon="delete">
							<%= t 'shop.search' %>
						</a>
					</li>
					<li>
						<a href="ranking.html" data-icon="delete">
							<%= t 'coupon.raking' %>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>